.pixel-door {
    position: relative; 
    display: flex; 
    width: 80%; 
    height: 100vh; 
    background: url('/the-cafe/woodgrain.png');
  
    background-size: 100% 100%;
    border-right: 2vh solid #422910 ;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 2); 
    margin-left: 0;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .pixel-door-sign {
    width: 80vh;              
    height: 50vh;            
    background-color: #4d2c1f; 
    border: 10px solid #2a1a0a; 
    color: #d7ccc8;
    display: flex;
    justify-content: center;
    
    box-shadow: -4px -4px 0 #2e1c19, -8px -8px 0 #1b110f;     
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'pixel-sans'; 
    font-size: 7.5vh;
    padding-inline: 3vh;
    flex-direction: column;

  }
.welcome-color {
    color: #d7af49;
    text-shadow: 0 0 3px #ffffff
}
  @media (max-width: 768px) {
    .pixel-door {
        width: 90%; 
        height: 100vh; 
        
    }

    .pixel-door-sign {
        width: 90%; 
        height: auto; 
        font-size: 8dv; 
        padding-inline: 5vw; 
    }
}


@media (max-width: 480px) {
    .pixel-door {
        width: 95%; 
        height: 100vh; 
    }

    .pixel-door-sign {
        width: 95%; 
        height: auto;
        font-size: 12vw; 
        padding-inline: 8vw; 
    }
}

  